[project]
	description = general purpose elliptic curve math
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jadeblaquiere
[access "refs/for/refs/*"]
	read = group user/jadeblaquiere
	push = group user/jadeblaquiere
	label-Code-Review = -2..+2 group user/jadeblaquiere
	label-Verified = -1..+1 group user/jadeblaquiere
	rebase = group user/jadeblaquiere
	removeReviewer = group user/jadeblaquiere
	submit = group user/jadeblaquiere
[access "refs/heads/*"]
	read = group user/jadeblaquiere
	create = group user/jadeblaquiere
	push = +force group user/jadeblaquiere
	pushMerge = group user/jadeblaquiere
[access "refs/tags/*"]
	push = group user/jadeblaquiere
	push = +force group user/jadeblaquiere
